.ButtonController {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 480px) {
  .ButtonController {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
  }
}
