.progress-container {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* transform: translateY(1rem); */
  margin-left: 2rem;
}
.dot {
  height: 2rem;
  width: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 10px;
  outline: none;
  cursor: pointer;
}
.dot:hover {
  background-color: black;
  outline: none;
  border: none;
  overflow: auto;
  border-style: none;
  border-color: transparent;
}
.completed {
  background-color: #f28458;
}

@media only screen and (max-width: 480px) {
  .progress-container {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* transform: translateY(1rem); */
    margin-left: 1rem;
  }
  .dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    margin-left: 0rem;
    margin: 10px 5px;
    border-radius: 50%;
    display: inline-block;
    outline: none;
    cursor: pointer;
  }
  .completed {
    background-color: #f28458;
  }
}
